@import "tailwindcss";
/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */

@import "../styles/borderRadius.css";
@import "../styles/boxShadows.css";
@import "../styles/colors.css";
@import "../styles/fonts.css";
@import "../styles/gap.css";
@import "../styles/lineHeight.css";
@import "../styles/spacing.css";
@import "../styles/textSize.css";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fontFamilyPoppins);
}

body {
  font-family: var(--fontFamilyInter);
  padding: 0;
  color: var(--base-black);
  font-size: var(--ts-body-md);
  background-color: var(--base-white);
}

.test-variable {
  font-size: var(--ts-body-2xl);
  color: var(--primary-600);
}